@import "vars.scss";
@import "bootstrap/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    b, strong {
      font-weight: 600
    }
    background: $brand-color-dark;
    background: -moz-linear-gradient(45deg, $brand-color-dark 0%, $brand-color-light 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$brand-color-dark), color-stop(100%,$brand-color-light));
    background: -webkit-linear-gradient(45deg, $brand-color-dark 0%,$brand-color-light 100%);
    background: -o-linear-gradient(45deg, $brand-color-dark 0%,$brand-color-light 100%);
    background: -ms-linear-gradient(45deg, $brand-color-dark 0%,$brand-color-light 100%);
    background: linear-gradient(45deg, $brand-color-dark 0%,$brand-color-light 100%);
    background-attachment: fixed;
}

  
@keyframes shadow-in {
  from {
    text-shadow: -20px -20px 100px rgba(0, 0, 0, 0);
  }
  to {
    text-shadow: -5px 5px 15px rgba(0, 0, 0, .90);
  }
}

.logo {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  color: white;
  &.animate {
    -webkit-animation: shadow-in 1s ease-out;
    -moz-animation: shadow-in 1s ease-out;
    -o-animation: shadow-in 1s ease-out;
    animation: shadow-in 1s ease-out;
  
    text-shadow: -5px 5px 15px rgba(0, 0, 0, .90);
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.140em;
  fill: currentColor;
}

p {
  .icon {
    margin-right: .3em;
  }
}

.topbar {
	display: block;
	width:100vw;
	height:50px;
	overflow:hidden;
	margin:0 auto;
}
.toptitle{
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-shadow:0 1px 3px rgba(0,0,0,.5);
    float:left; }
.toptitle a {
    text-decoration:none;
}
.toptopic{
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: 38px;
    color: white;
    float:left;
    margin-left: 20px;
}

.card-img-top {
  margin-bottom: -25px !important;
  &.gradient-out {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0.75) 75%, rgba(0,0,0,0) 100%);
  }
}

.footer { font-family: 'Work Sans', sans-serif; position: fixed; bottom: 10px }

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
 to {
    -webkit-transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
 from {
     -moz-transform: rotate(180deg);
  }
  to {
     -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
 from {
    -ms-transform: rotate(180deg);
  }
  to {
    -ms-transform: rotateY(360deg);
  }

}
.spinning {
    -webkit-animation: spin 1s linear infinite 0s;
    -moz-animation: spin 1s linear infinite 0s;
    -ms-animation: spin 1s linear infinite 0s;
    animation: 1s spin infinite linear;
}

.text-wrap-normal {
  word-wrap: normal;
  a {
    // Don't wrap on links.
    @extend .text-nowrap;
  }
}

img {
  &[src$='#floatleft'] {
    @media(min-width: 992px) {
      float: left;
      padding-right: 0.75em;
    }
    @media(max-width: 991px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.alert {
  color: white;
  background-color: #1392ae;
  .alert-heading {
    background-color: rgba(0, 0, 0, .20);
    border-radius: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: 600;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}

blockquote{
  margin:15px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #1392ae ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#1392ae;
  font-size:6em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

figure {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 0.4em;
  padding: 0.5em;
  figcaption {
    margin-top: 0.2em;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: 600;
    text-align: center;
  }
  
}

.contains-code {
  .highlight {
    pre {
      margin-bottom: 0;
    }
  }
}