{{ define "main" }}
<div class="container col-xl-10 col-xxl-8 py-3 py-lg-5">
    <div class="row g-lg-5 py-lg-5">
        <div class="col-lg-12 g-lg-2">
            <h1 class="display-5 fw-normal logo">{{ if .Section }}{{.Section | lower }}.{{ end }}<span class="logo animate">duck.</span></h1>
            {{/* Special case for blanking the section. Very scrappy. */}}
            {{ if not (eq (.Param "section_title") false) }}
                <h5 class="fw-normal logo">
                    {{ if .Param "section_title" }}
                        {{ .Param "section_title" }}
                    {{ else if .Parent.Param "section_title" }}
                        {{.Parent.Param "section_title"}}
                    {{else}}
                        occasionally I have a bit of a ramble.
                    {{end}}
                </h5>
            {{ end }}
        </div> 
    </div>
    <div class="row row-cols-1 row-cols-xxl-2">
        {{ range .Pages.ByPublishDate.Reverse }}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm text-bg-light">
                {{ $img := (.Resources.ByType "image").GetMatch "images/*feature*" }}
                {{ if $img }}
                    {{ $img := $img.Fill "750x225 smart" }}
                    {{ with $img }}
                        <img src="{{ .Permalink }}" class="card-img-top gradient-out" alt="{{ $.Title }}"/>
                    {{ end }}
                {{ end }}
                <div class="card-body">
                    <h3 class="card-title">
                        {{ if .Draft }}
                            <span class="badge rounded-pill text-bg-danger">Draft</span>
                        {{ end }}
                        {{.Title}}
                    </h3>
                    {{ if .Params.Subtitle }}
                        <p class="card-text">{{.Params.Subtitle}}</p>
                    {{ end }}
                    <a href="{{.Permalink}}" class="stretched-link text-decoration-none">{{ partial "icon" "arrow-right" }} Read</a>
                </div>
                <div class="card-footer">
                    <div class="hstack gap-2">
                        {{ if .Draft }}
                            <div>
                                <p class="mb-0 text-muted"><span class="badge rounded-pill text-bg-danger">Draft</span></p>
                            </div>
                        {{ end }}
                        <div>
                            <p class="mb-0 text-muted">{{ partial "icon" "clock" }} {{ .Date.Format "Jan 2, 2006" }}</p>
                        </div>
                        <div class="vr"></div>
                        {{ if ne .Date .Lastmod }}
                        <div>
                            <p class="mb-0 text-muted">{{ partial "icon" "edit" }} {{ .Lastmod.Format "Jan 2, 2006" }}</p>
                        </div>
                        {{ end }}
                        <div class="ms-auto">
                            <p class="mb-0 text-muted">{{ partial "icon" "scroll" }} {{.FuzzyWordCount}} words</p>
                        </div>
                        <div class="vr"></div>
                        <div>
                            <p class="mb-0 text-muted">{{ partial "icon" "timer" }} {{.ReadingTime}}m</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}