<h2 class="pb-2 border-bottom fw-light">professional.</h2>
<div class="card shadow-lg">
    <ul class="list-group list-group-flush">
        <a href="{{ ref . "portfolio" }}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
            <h2 class="flex-shrink-0 mb-0" width="32" height="32">
                {{ partial "icon" "portfolio" }}
            </h2>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h5 class="mb-0">Portfolio</h5>
                </div>
            </div>
        </a>
        <a rel="me" href="https://github.com/{{.Site.Social.githubname}}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
            <h2 class="flex-shrink-0" width="32" height="32">
                {{ partial "icon" "social-github" }}
            </h2>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <small class="d-block mb-0 text-muted">Github</small>
                    <h5 class="mb-0">@{{.Site.Social.githubname}}</h5>
                </div>
            </div>
        </a>
    </ul>
</div>