<h2 class="pb-2 border-bottom fw-light">blog.</h2>
<div class="card text-bg-light shadow-lg">
    <ul class="list-group list-group-flush">
        {{ range (where .Site.RegularPages.ByDate "Type" "blog").Reverse | first 3 }}
            <a href="{{.Permalink}}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
                <div class="gap-2 w-100 justify-content-between">
                    <div class="d-flex flex-row">
                        <h5 class="mb-0">{{.Title}}</h5>
                    </div>    
                    
                    <div class="d-flex flex-row flex-wrap-reverse align-items-end">
                        <div class="me-auto">
                            <p class="mb-0 opacity-75">{{ partial "icon" "clock" }} {{ .Date.Format "2/1/06" }}</p>
                        </div>
                        <div class="px-1">
                            <p class="mb-0 opacity-75">{{ partial "icon" "timer" }} {{.ReadingTime}}m</p>
                        </div>
                    </div>
                </div>
            </a>
        {{ end }}
    </ul>
    <div class="card-footer">
        <a href="{{ ref . "blog" }}" class="card-link text-reset text-decoration-none">
            {{ partial "icon" "arrow-right" }} All Posts
        </a>
    </div>
</div>