<h2 class="pb-2 border-bottom fw-light">contact.</h2>
<div class="card shadow-lg">
    {{ with .Site.Params.Social }}
    <ul class="list-group list-group-flush">
        <a rel="me" href="https://{{.Mastodon.Host}}/@{{.Mastodon.Name}}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
            <h2 class="flex-shrink-0" width="32" height="32">
                {{ partial "icon" "social-mastodon" }}
            </h2>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <small class="d-block mb-0 text-muted">Mastodon</small>
                    <h5 class="mb-0">@{{.Mastodon.Name}}</h5>
                </div>
            </div>
        </a>
        <a rel="me" href="https://bsky.app/@{{.Bluesky.User}}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
            <h2 class="flex-shrink-0" width="32" height="32">
                {{ partial "icon" "social-bluesky" }}
            </h2>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <small class="d-block mb-0 text-muted">Bluesky</small>
                    <h5 class="mb-0">@{{.Bluesky.User}}</h5>
                </div>
            </div>
        </a>
        <a rel="me" href="https://matrix.to/#/@{{.Matrix.User}}:{{.Matrix.Server}}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
            <h2 class="flex-shrink-0" width="32" height="32">
                {{ partial "icon" "social-matrix" }}
            </h2>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <small class="d-block mb-0 text-muted">Matrix</small>
                    <h5 class="mb-0">@{{.Matrix.User}}<span class="text-muted opacity-50">:{{.Matrix.Server}}</span></h5>
                </div>
            </div>
        </a>
        <a rel="me" href="mailto:{{.Email.Address}}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
            <h2 class="flex-shrink-0" width="32" height="32">
                {{ partial "icon" "mail" }}
            </h2>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <small class="d-block mb-0 text-muted">Email</small>
                    <h5 class="mb-0">{{.Email.Address}}</h5>
                </div>
            </div>
        </a>
        <a rel="me" href="https://discord.com/users/{{.Discord.ID}}" class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
            <h2 class="flex-shrink-0" width="32" height="32">
                {{ partial "icon" "social-discord" }}
            </h2>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <small class="d-block mb-0 text-muted">Discord</small>
                    <h5 class="mb-0">@{{.Discord.Name}}</span></h5>
                </div>
            </div>
        </a>
    </ul>
    {{ end }}
</div>
